navbar:hover {
  color: #f1356d !important;
}

.navbar h1 {
  color: brown;
}

.links a {
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  font-weight: bold;
}

.navbar-brand {
  font-size: 1.8rem;
}

.nav-item {
  font-size: 1.2rem;
  display: inline;
}

.navbar-nav a{
  color: brown;
}